@import 'mixins';   

  .card {
    width: 340px;
    height: 340px;
    position: relative;
    cursor: pointer;
  }
  
  .card img {
    width: 340px;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;

    @media (max-width: 768px) {
      width: 335px;
      height: 255px;
      }
  }

  .card h3 {
    position: absolute;
    bottom: 0;
    left: 0px;
    margin: 20px;
    text-align: left;
    @include main-police;
    color: white;
  }