body {
  width: 1240px;
}

.fiche__detaillee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  gap: 20px;
}
@media (max-width: 768px) {
  .fiche__detaillee {
    margin-top: 30px;
    gap: 10px;
  }
}
.fiche__detaillee .slideshow-image {
  width: 1240px;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .fiche__detaillee .slideshow-image {
    width: 100%;
    height: 255px;
  }
}

.titre__host {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .titre__host {
    flex-direction: column;
    gap: 10px;
  }
}

.titre__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 130px;
}
@media (max-width: 768px) {
  .titre__info {
    height: 80px;
    gap: 10px;
    justify-content: center;
  }
}
.titre__info h2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: black;
  font-size: 36px;
  color: #FF6060;
  margin: 0;
  font-weight: 500;
}
@media (max-width: 768px) {
  .titre__info h2 {
    font-size: 18px;
  }
}
.titre__info p {
  margin: 0;
  font-size: 18px;
  color: black;
}
@media (max-width: 768px) {
  .titre__info p {
    font-size: 14px;
    text-align: left;
  }
}
.titre__info .tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.titre__info .tags button {
  background-color: #FF6060;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  min-width: 115px;
  padding: 5px 15px 5px 15px;
  border: none;
  font-weight: 700;
  color: white;
}
@media (max-width: 768px) {
  .titre__info .tags button {
    font-size: 10px;
    max-width: 84px;
    line-height: 18px;
    padding: 2px 2px 2px 7px;
  }
}

.host__rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
  gap: 10px;
}
@media (max-width: 768px) {
  .host__rating {
    flex-direction: row-reverse;
    height: 40px;
    justify-content: space-between;
    gap: 30px;
  }
}
.host__rating p {
  font-size: 18px;
  width: 50%;
  text-align: right;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .host__rating p {
    font-size: 12px;
  }
}
.host__rating img {
  height: 64px;
  width: 64px;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .host__rating img {
    width: 32px;
    height: 32px;
  }
}

.host__img {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .host__img {
    align-items: center;
    gap: 0;
    justify-content: right;
  }
}

.description__equipements {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .description__equipements {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
  }
}
.description__equipements .collapse__title {
  font-size: 18px;
  padding-left: 10px;
}
@media (max-width: 768px) {
  .description__equipements .collapse__title {
    font-size: 12px;
    width: 375px;
  }
}
.description__equipements .collapse__content {
  text-align: left;
}
@media (max-width: 768px) {
  .description__equipements .collapse__content {
    font-size: 12px;
    width: 375px;
  }
}

.equipments__list {
  display: flex;
  flex-direction: column;
}

.star-filled {
  color: #FF6060;
}

.star-empty {
  color: lightgray;
}

.star {
  margin-right: 10px;
  font-size: 24px;
}
@media (max-width: 768px) {
  .star {
    font-size: 14px;
  }
}

/*# sourceMappingURL=FicheLogement.css.map */
