@import 'mixins';

$main-color: #FF6060;

.fiche__detaillee {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    gap: 20px;

    img {
        width: 1240px; 
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
    }
}

.titre__host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titre__location {
    flex-direction: column;
    text-align: left;
}

.titre__location h2 {
    font-size: 36px;
    font-weight: 500;
    height: 51px;
    margin: 0;
}

.fiche__detaillee p {
    @include main-police;
    font-size: 18px;
    margin: 0;
}

.host__name {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.host__name p {
    color: $main-color;
    text-align: right;
    width: 50%;
}

.host__name img {
    height: 64px;
    width: 64px;
    border-radius: 50px;
}

.tags__rating {
    display: flex;
    justify-content: space-between;

    .tags {
        display: flex;
        gap: 10px;

        button {
            background-color: $main-color;
            @include main-police;
            border-radius: 20px;
            min-width: 115px;
            padding: 5px 15px 5px 15px;
            border: none;
            font-weight: 700;
            color: white;
        }
    }
}

// Gestion de la notation par étoiles
.star-filled {
    color: $main-color;
  }
  
  .star-empty {
    color: lightgray;
  }

  .star {
    margin-right: 10px;
    font-size: 24px;
  }

.description__equipements {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-top: 10px;

    .collapse__title {
        font-size: 18px;
        padding-left: 10px;
    } 

    .collapse__content {
        text-align: left;
    }
}
.equipments__list {
    display: flex;
    flex-direction: column;
  }
